<template>
  <div id="gallery">
      <h1>Gallery Page</h1>
      <!-- <div class="group-row">          
        <img src="../assets/fruit-01.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-02.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-03.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-04.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-05.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-06.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-07.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-08.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-09.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-10.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-11.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <img src="../assets/fruit-12.jpg" class="img-fluid img-thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-3">
      </div> -->

        <section>
    <LightBox
      :thumbnails="lightbox.images.thumbnails"
      :largeImages="lightbox.images.large"
      :thumbnailsPath="lightbox.thumbnailsPath"
      :largePath="lightbox.largePath"
      :captions="lightbox.captions"
      class="lightBox"
    />
  </section>

  </div>

</template>


<script>
import LightBox from "../../src/components/LightBox.vue";

export default {
  name: "app",
  data() {
    return {
      lightbox: {
        images: {
          thumbnails: ["1.jpg", "2.jpg", "3.jpg","4.jpg", "5.jpg", "6.jpg","7.jpg", "8.jpg", "9.jpg","10.jpg", "11.jpg", "12.jpg"],
          large: ["1.jpg", "2.jpg", "3.jpg","4.jpg", "5.jpg", "6.jpg","7.jpg", "8.jpg", "9.jpg","10.jpg", "11.jpg", "12.jpg"]
        },
        captions: ["fruit-01", "fruit-02", "fruit-03","fruit-04", "fruit-05", "fruit-06","fruit-07", "fruit-08", "fruit-09","fruit-10", "fruit-11", "fruit-12"],
        thumbnailsPath: "/img/sea/thumbnails/",
        largePath: "/img/sea/large/"
      }
    };
  },
  components: {
    LightBox
  }
};
</script>

<style>
.img-thumbnail {
    border: initial !important;
}

.img-fluid {
    height: 280px !important;
}

div#gallery {
    margin-bottom: 70px;
    padding-top: 100px !important;
}


</style>

<style lang ="scss">


@media only screen and (min-width: 992px) {
    .light-box {
        &__thumbnail {
            margin: 0px;
            width: 25%;
            height: 280px !important;
            border-radius: .25rem;
            max-width: 100%;
            padding: .25rem;
            background-color: #fff;
        }
    }

    img {
         max-width: 100%;
    } 
}

@media only screen and (min-width: 768px)
and (max-width : 991px) {
    .light-box {
        &__thumbnail {
            margin: 0px;
            width: 50%;
            height: 280px !important;
            border-radius: .25rem;
            max-width: 100%;
            padding: .25rem;
            background-color: #fff;
        }
    }

    img {
         max-width: 100%;
    } 
}

@media only screen and (max-width: 767px)  { 
    .light-box {
        &__thumbnail {
            margin: 0px;
            width: 100%;
            height: 280px !important;
            border-radius: .25rem;
            max-width: 100%;
            padding: .25rem;
            background-color: #fff;
        }
    }

    img {
         max-width: 100%;
    } 
}


</style>