<template>
  <div class="home">
    <img class="img-circle" alt="Vue logo" src="../assets/profile.jpg">    
  </div>
  <div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps-name col-12"><div class="abs-center">Weerapon Sonwang</div></div>
    </div>
    <div class="row">
      <div class="side-bar col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2>Contact</h2>
        <p>36 Bandara, Phichai</p>
        <p>Uttaradit</p>
        <p>53220 Thailand</p>
        <p>weerapon3704398@gmail.com</p>
        <p>087-3098263</p>
        <p>www.facebook.com/jay.indy.9</p><br>
        
        <h2>Personal</h2>
        <p>Birth Date : August 19, 1995</p>
        <p>Nationality : Thai</p>
        <p>Religion : Buddhism</p>
        <p>Gender : Male</p>
        <p>Marital Status : Single</p>
        <p>Height : 171</p>
        <p>Weight : 78</p><br>

        <h2>Hobbies</h2>
        <p>Music</p>
        <p>Football</p>
        <p>Movies</p>
        <p>Game</p><br>      
      </div>

      <div class="content-container col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h2 class="rela-block caps title">Profile</h2>
        <div class="rela-block separator"></div>
        <p class="long-margin">I learned a lot of new programming languages from internships and techniques resulting in constant
          advancement and improvement of my skills which is very important in the ever changing world of IT. Working in a fast paced environment often involves
          meeting tight deadlines and working under pressure as well as having excellent interpersonal skills. I consider myself to be a
          hardworking, reliable and the ability to learn new skills quickly. Especially I like to work in a team that is effective to which I can
          contribute with my skill set.
        </p>

        <br>

        <h2 class="rela-block caps title">Education</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">2015 - 2018</div>
        <p class="long-margin">
          Computer Engineering of Bachelor Degree, Uttaradit Rajabhat Univercity,
          Thailand, GPA 3.17
        </p>
        <div class="rela-block caps greyed">2012 - 2015</div>
        <p class="long-margin">
         (High School) Uttaradit School, GPA 3.10
        </p>

        <br>

        <h2 class="rela-block caps title">Internship Experience</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Mana Software Co., Ltd.</div>
        <div class="rela-block caps greyed">Mobile App Developer (Ionic Framework) 2018</div>
        <p class="long-margin">
         • Software developer internship. I have been both back-end and front-end
         developers. For learning and working in the future.
        </p>
         <p class="long-margin">
         • Internships are very important in gaining knowledge about real-time technology.
        </p>

        <br>

        <h2 class="rela-block caps title">Work Experience</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Amethyst Solutions Co., Ltd.</div>
        <div class="rela-block caps greyed">November 2018 – March 2021</div>
        <p class="long-margin">
         • Developed Web-based Evaluate the performance of lecturers of Chulalongkorn University.
        </p>
         <p class="long-margin">
         • Developed Web-based Inventory management of Chulalongkorn University.
        </p>
         <p class="long-margin">
         • Developed Web-based Inventory management of Chulalongkorn University.
        </p>
         <p class="long-margin">
         • Designed and Developed a pork farm management system through the IoT network Lora using Web Based Application technology.
        </p>
         <p class="long-margin">
         • Design and Developed API to connect data received from IoT network to Web Based Application.
        </p>
         <p class="long-margin">
         • Developed Web-based Sale Support System for Car Rental Service.
        </p>
         <p class="long-margin">
         • Developed Web-based Insurance business management system with Web Based Application technology.
        </p>
         <p class="long-margin">
         • Design and Developed User Interface for electric vehicle dealer business management system for PEA ENCOM International Co., Ltd.
        </p>
         <p class="long-margin">
         • Design and Developed e-AGM to manage electronic shareholders' meeting for The Stock Exchange of Thailand (SET).
        </p>

         <br>

        <h2 class="rela-block caps title">Computer Skills</h2>
        <div class="rela-block separator"></div>
        <p class="long-margin">
         • Operating System : MS Windows, Linux, OpenVMS and MS Dos
        </p>
         <p class="long-margin">
         • Web Server : MS IIS and Apache
        </p>
          <p class="long-margin">
         • Programming Language : Assembly, Visual Basic.NET, C# and JAVA
        </p>
          <p class="long-margin">
         • Web Development : HTML, CSS, SASS, ASP.NET, PHP, XML, Angular, TypeScript, Jquery and JavaScript
        </p>
          <p class="long-margin">
         • Database : MS SQL and MySQL
        </p>
          <p class="long-margin">
         • Program : MS Visual Studio, Visual Studio Code, MS Office and Photoshop
        </p>

      </div>
    </div>
</div>
</template>

<script>

export default {
  name: 'Home',
}
</script>

<style>
.img-circle {
  border-radius: 50%!important;
  width: 200px;
  height: 200px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: rgb(105 108 110 / 11%);
  border: 1px solid rgb(27 28 28 / 0%);
}

.page {
    width: 90%;
    max-width: 1200px;
    margin: -100px auto;
    background-color: #fff;
    box-shadow: 6px 10px 28px 0px rgb(0 0 0 / 40%);
    margin-bottom: 70px;
}

@media only screen and (max-width: 767px)  { 
      .caps-name {
    font-size: 125% !important;
  }
}

.caps-name {
  background-color: #848484;
  color: #fff;
  padding: 100px 10px 10px 10px;
  font-size: 280%;
}

.side-bar {
    background-color: #f7e0c1;
    padding: 20px;
    text-align: left;
    word-break: break-word;
}

.content-container {
  padding: 20px;
  text-align: left;
}

.row {
    --bs-gutter-x: initial;
}

.home {
    padding-top: 100px !important;
}
</style>
