<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class=" navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <div id="nav">    
            <router-link to="/">Profile</router-link> |
            <router-link to="/gallery">Gallery</router-link>
          </div>
          <div id="app">
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-view/>

  
  
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Copyright © 2021</span>
    </div>
  </footer>
</template>

<script>
// import LightBox from "@/components/LightBox.vue";

// export default {
//   name: "app",
//   data() {
//     return {
//       lightbox: {
//         images: {
//           thumbnails: ["1.jpg", "2.jpg", "3.jpg"],
//           large: ["1.jpg", "2.jpg", "3.jpg"]
//         },
//         captions: ["caption 1", "caption 2", "caption 3"],
//         thumbnailsPath: "/img/sea/thumbnails/",
//         largePath: "/img/sea/large/"
//       }
//     };
//   },
//   components: {
//     LightBox
//   }
// };
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 10px;
  text-align: left;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.light-box {
    margin: 20px;
    width: 200px;
}
img {
  max-width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.navbar {
    position: fixed;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}
</style>
